header {
  align-items: center;
  background-color: rgb(170,208,208);
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}

#loginlogout {
  position: absolute;
  color: #fff;
  left: 75%;
  top: 4%;
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  min-width: 90px;
  padding: 6px 6px;
  background-color: #FA6900;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  outline: none;
}

.wrapper_warning {
  left: 63%;
  top: 5%;
}

.navbar li {
  position: absolute;
  margin-bottom: 10px;
  transition: .5s ease;
  left: 61%;
  top: 7%;
}

.user-profile {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
}

.user-profile img {
  border-radius: 50%;
  max-width: 100%;
}

@media(min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .navbar li {
    margin: 0 10px;
  }
}

@media(min-width: 992px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  .navbar li {
    margin: 0 0 0 20px;
  }
}
