.formResults {
  height: 500px;
  overflow-y: visible;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: 9999;
}

.formResults li {
  background-color: #263238;
  transition: all 0.35s ease-out;
}

.formResults li:hover {
  background-color: #000;
}

.formResults a {
  color: #fff;
  display: flex;
  padding: 20px 20px;
}

.resultPoster {
  align-self: center;
  margin-right: 20px;
  width: 100px;   
}
