form {
  padding-top: 25px;
  position: relative;
  text-align: center;
}

.searchBar {
  border: 1px solid #bdbdbd;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  padding: 20px 0 20px 40px;
  position: relative;
  transition: all 0.35s ease-out;
  width: 100%;
}

.searchBar:focus {
  border: 1px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

::placeholder {
  color: #000;
  transition: all 0.35s ease-out;
}

.searchBar:focus::placeholder {
  color: #fff;
}

.searchIcon {
  left: 90%;  
  margin: 18px 0 0 10px;
  position: absolute;
  z-index: 9999;
}

.noDisplay {
  display: none;
  opacity: 0;
  visibility: hidden;
}
